@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to our CV application
    </h1>
    <a asp-page="/CVpage" class="btn btn-primary"> New CV</a>
    <a asp-page="/AllCv" class="btn btn-primary"> All CVs</a>


</div>

